* {
    padding: 0;
    margin: 0;
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* position: fixed; */
    /* z-index: 99; */
    background-color:#414bb2;
    align-items: center;
}

nav li {
    color: #fff;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
} 

.homeImg {
    height: 40px;
}

.avatarImg {
    height: 15px;
    margin-left:10px;
    margin-right: 2px; 
}

.esquerda{
    margin-left: 20px;
} 
.direita {
    display: flex;
    list-style: none;
    /* margin: auto 10px; */
}
